.myButton {
    border: none;
    background: none;
}

.myButton:focus {
    box-shadow: none;
    outline: none;
}

.open-pop-up {
    position: fixed;
    top: 20px;
    right: 30px;
    border: 0;
    background: none;
    z-index: 2;
    padding: 0px;
  }
  
.open-pop-up img {
    height: 50px;
}


