.image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: auto;
    border: 1px solid black;
}

.image-enter {
    opacity: 0;
}

.image-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}

.image-exit {
    opacity: 1;
}

.image-exit-active {
    opacity: 0;
    transition: opacity 500ms;
}

.image-list {
    flex-grow: 1;
    position: relative;
    height: 100vh;
}